body {
    background-color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#clock {
    z-index: -1;
}

.center.container {
    background-image: url(/static/images/clock-dial.png);
    text-align: center;
    height: 600px;
    background-size: 600px 600px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 19px;
    font-family: 'Mali', cursive;
    font-weight: bold;
    z-index: 1;
}

a {
    color: black;
}

.smallHandle {
    height: 200px;
    display: block;
    margin: auto;
}

.floor0 {
    position: absolute;
    z-index: 0;
    height: 600px;

}

.floor1 {
    position: absolute;
    z-index: 1;
    height: 600px;

}

.containerForClockHand {
    text-align: center;
    border: thick darkcyan;
}

.clockHandDiv {
    display: block;
    margin: auto;
    height: 600px;

}

.d-block {
    margin: auto;
}

.smallHandle {
    height: 300px;
    display: block;
    margin: auto;
    position: center;
    z-index: 1;

}

.clock-bg {
    height: 600px;
}


