{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        <h1 class="d-flex justify-content-center">CLOCK</h1>
        <h5 class="d-flex justify-content-center">Please log in or register to continue!</h5>
        <div class="container">
            <div class="d-flex justify-content-center" id="center">
                <a id="login" href="{{ url_for('login') }}" class="btn btn-dark m-2">Login</a>
                <a id="register" href="{{ url_for('registration') }}" class="btn btn-info m-2">Register</a>
            </div>
        </div>
    </div>
{% endblock %}